body{
  display:flex;
  height:100%;
  flex-direction: column;
}
.frame1{
    position: relative;
    height:740px;
    width:100%;
  }
.header{
    position: relative;
    width:100%;
    height:16%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    width:6%;
    height:70%;
    padding-left: 2%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:30%;
}

input[type="text"] {
    position: relative;
    padding: 9.9px;
    font-size: 100%;
    width: 100%;
    height:100%;
    border:none;
    background-color: rgb(195, 215, 237);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input[type="text"]:focus {
    outline: none;
  }  
button[type="submit"] {
    border:none;
    height:39.1px;
    border-width:1px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0px;
    position: relative;
    background-color: rgb(195, 215, 237);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  .contact-us{
    position: relative;
    height:47%;
    width:13%;
    display: flex;
    padding-left:6%;
  }
  .Social{
    position: relative;
    height:70%;
    width:20%;
    margin-right:2%;
  }
  .header2{
    position: relative;
    height:6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 7, 7);
  }
  .header2 .box1{
    position: relative;
    margin-left: 1.7%;
    height:100%;
    width:36.2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
.header2 .box1 div{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.header2 .box2{
    position: relative;
    margin-left: 1.7%;
    height:80%;
    width:20.2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:solid;
    padding-right:30px;
}
.header2 .box2 img{
  position: relative;
  width: 40.3px;
  height: 38px;
  transform: rotate(-1.53deg);
  margin-right:20px;
}
.header3{
  position: relative;
  width:100%;
  height:78%;
  background-color: rgb(232, 232, 221);
}
.header3 .slogan{
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 85px;
  color: #474141;
  backdrop-filter: blur(2px);
  width: 590px;
  height: 468px;
  top:100px;
  left:50px;
}
.slogan .adjust{
  width:1000px;
}
.header3 .shopnow{
  position:absolute;
  width: 196px;
  height: 63px;
  bottom:90px;
  left:50px;
}
.header3 .elispe{
  position: absolute;
  top:90px;
  right:30px;
  height:77%;
}
.frame2{
  height:300px;
  background-image: url('image/sa\ 1.png');
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  width:100%;
}
.frame2 .letter{
  position: relative;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 80px;
color: #FFFFFF;
width:900px;
margin-left: 50px;
}
.frame3{
  height:540px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.frame3 .box3{
  width: 450px;
  height: 600px;
  padding-bottom:13%;
}
.frame3 .box1 ,.frame3 .box2{
  width: 450px;
  height: 400px;
}
.frame3 .box1{
  width:37%;
  margin-right:0.7%;
  
}
.frame3 .box1 .child1{
font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 77px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top:10%;
}
.frame3 .box1 .child2{
  font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 77px;
 width:121%;
color: #4C0D0D;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.frame3 .box1 .child3{
width:fit-content;  
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 39px;
color: #000000;
border: 3px solid #909A1C;
border-radius: 50px;
padding:1.8%;
padding-left:8%;
padding-right:8%;
margin-top:4.9%;
margin-left:8%;
}
.frame3 .box2 .child1{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom:5%;
  }
  .frame3 .box2 .child2{
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;  
    color: #000000;
  }
 
  .frame4{
    background-color: rgb(232, 232, 221);
    height:1420px;
  }

  .frame4 .box1{
    border-radius: 50px;
    background-color: #8B0304;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    color: #FFFFFF;
    height:4%;
    padding-left:3%;
    padding-right:3%;
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
  }

  .frame4 .container1 , .frame4 .container2 , .frame4 .container3 {
    margin-top:1%;
    height:400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .frame4 .container1{
    margin-top:5%;
  }
  .frame4 .invisible-box{
    height:100%;
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .frame4 .invisible-box .white-box{
    width:70%;
    height:69%;
    margin-bottom: 2%;
    background-color: white;
  }
  .frame4 .name-product{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.frame4 .price-product{
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 34px;
color: #A57B0F;
}
@font-face {
  font-family: Inter;
  src: url('font-download/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face{
  font-family: Montserrat;
  src:url('font-download/Montserrat-VariableFont_wght.ttf')
}
 .frame5 , .frame6{
  width:100%;
  height:100%;
 }
.frame7{
  background-color: rgb(54, 70, 85);
  height:700px;
  display:flex;
}
.frame7 .invisible-box2{
  height:100%;
  width:60%;
}
.frame7 .invisible-box{
  height:100%;
  width:40%;
}
.frame7 .box1{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 97px;
  margin-left:9%;
  color: #FFFFFF;
  margin-top:5%;
  height:10.4%;
}
.frame7 .box2{
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  margin-left: 9%;
  color: #FFFFFF;
  width:90%;
  padding-top:-50px;
}
.frame7 .box3{
  font-family: Inter;
font-style: italic;
font-weight: 200;
font-size: 25px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
margin-top:4%;
}
.invisible-box2 .child1{
  margin-top:5%;
  height:18%;
}
.invisible-box2 .child2{
  margin-top:0%;
  height:18%;
}
.frame7 .letter{
  font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;
margin-left: 20%;
color: #FFFFFF;
}
 input[type="grey-box"] {
  height:45%;
  border:solid;
  margin-left:14%;
  background: rgba(217, 217, 217, 0.1);
  border: 3px solid #FFFFFF;
  border-radius: 33px;
  width:67%;
  padding-left:7%;
  font-size: 140%;
}
input[type="grey-box"]::placeholder {
  font-style: italic;
  color:rgb(170, 168, 168); /* Replace "red" with the desired font color */
}
.frame7 .create{
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  color: #FFFFFF;
  width:100%;
  height:100%;
  margin-left:67%;
}
.frame8{
  width:100%;
  height:100%;
}
.frame9{
  width:100%;
  height:100%;
}

<<<<<<< HEAD
@media (max-width:414px) and (min-width:320px){
=======
@media (max-width:375px) and (min-width:320px){
>>>>>>> 8b76b25 (responsive header)
  .frame1{
    position: relative;
    height:740px;
    width:100%;
  }
.header{
    position: relative;
    width:100%;
    height:10%;
    border:solid;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    width:10%;
    height:40%;
    padding-left: 2%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:27%;
}

input[type="text"] {
    position: relative;
    padding:9.6px;
    font-size:40%;
    width: 100%;
    height:100%;
    border:none;
    background-color: rgb(195, 215, 237);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input[type="text"]:focus {
    outline: none;
  }  
button[type="submit"] {
    border:none;
    height:27.1px;
    border-width:1px;
    font-size: 40%;
    cursor: pointer;
    margin-left: 0px;
    position: relative;
    background-color: rgb(195, 215, 237);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  .contact-us{
    position: relative;
    height:38%;
    width:24%;
    display: flex;
    padding-left:6%;
  }
  .Social{
    position: relative;
    height:40%;
    width:26%;
    margin-right:2%;
  }
}
